.add-book-modal {
    display: none;

    width: 250px;
    height: 350px;

    background-color: cyan;
}

.book-card {
    width: 200px;
    height: 250px;

    background-color: lightgrey;

    margin-bottom: 16px;
}